[project]
	description = This is test for demo only
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dkmadhesia
[access "refs/for/refs/*"]
	read = group user/dkmadhesia
	push = group user/dkmadhesia
	label-Code-Review = -2..+2 group user/dkmadhesia
	label-Verified = -1..+1 group user/dkmadhesia
	rebase = group user/dkmadhesia
	removeReviewer = group user/dkmadhesia
	submit = group user/dkmadhesia
[access "refs/heads/*"]
	read = group user/dkmadhesia
	create = group user/dkmadhesia
	push = +force group user/dkmadhesia
	pushMerge = group user/dkmadhesia
[access "refs/tags/*"]
	push = +force group user/dkmadhesia
	pushTag = group user/dkmadhesia
	pushSignedTag = group user/dkmadhesia
